// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2022 iWave System Technologies Pvt Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/dts-v1/;

#include "imx8mn-iwg37m.dtsi"

/ {
	model = "iW-RainboW-G37M-i.MX8MN-SODIMM";
	compatible = "fsl,imx8mn-iwg37m", "fsl,imx8mn";

	audioclk: ext26Mz { /* SAI5: Clock Configuration */
		compatible = "fixed-clock";
		clock-frequency = <26000000>;
		#clock-cells = <0>;
	};

	SODIMM_unused_gpio_pins: edge_unused_pins { /* GPIO: configuring pins as unused GPIOs */
                compatible = "iwave,unused-gpios";
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_unused_gpio>;
                status = "okay";
        };

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: 3p3v { /* Fixed Regulator: common 3.3V Fixed regulator */
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	sound { /* SAI5: SGTL5000: Audio Codec support */
		compatible = "simple-audio-card";
                simple-audio-card,name = "sgtl5000-audio";
                simple-audio-card,format = "i2s";
                simple-audio-card,frame-master = <&codecdai>;
                simple-audio-card,bitclock-master = <&codecdai>;
                simple-audio-card,widgets =
                        "Microphone", "Microphone Jack",
                        "Headphone", "Headphone Jack",
                        "Speaker", "Speaker Ext",
                        "Line", "Line In Jack";
                simple-audio-card,routing =
                        "MIC_IN", "Microphone Jack",
                        "Microphone Jack", "Mic Bias",
                        "LINE_IN", "Line In Jack",
                        "Headphone Jack", "HP_OUT",
                        "Speaker Ext", "LINE_OUT";

		simple-audio-card,cpu {
                       sound-dai = <&sai5>;
                };

                codecdai:simple-audio-card,codec {
                       sound-dai = <&codec>;
                       system-clock-frequency = <26000000>;
                };
	};
};

&cameradev { /* Multimedia: Camera device */
	status = "okay";
};

&sai5 { /* SAI5: Serial Audio Interface for Audio Codec */
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai5>;
	assigned-clocks = <&clk IMX8MN_CLK_SAI5>;
	assigned-clock-parents = <&clk IMX8MN_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <49152000>;
	clocks = <&clk IMX8MN_CLK_SAI5_IPG>, <&clk IMX8MN_CLK_DUMMY>,
		<&clk IMX8MN_CLK_SAI5_ROOT>, <&clk IMX8MN_CLK_DUMMY>,
		<&clk IMX8MN_CLK_DUMMY>, <&clk IMX8MN_AUDIO_PLL1_OUT>,
		<&clk IMX8MN_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-multi-lane;
	dmas = <&sdma2 8 25 0>, <&sdma2 9 25 0>;
	status = "okay";
};

&i2c2 { /* I2C: I2C2 Bus */

	codec: sgtl5000@a { /* Audio: SGTL5000 Audio Codec */
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		#sound-dai-cells = <0>;
		clocks = <&audioclk 0>;
		VDDA-supply = <&reg_3p3v>;
		VDDIO-supply = <&reg_3p3v>;
		status = "okay";
	};

	stmpe0: stmpe811@44 { /* STMPE811: Carrier Board GPIO Expander */
                compatible = "st,stmpe811";
		reg = <0x44>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_stmpe>;
		irq-gpio = <&gpio1 7 IRQ_TYPE_EDGE_RISING>;
	
		stmpe_gpio0: stmpe_gpio {
			compatible = "st,stmpe-gpio";
			#gpio-cells = <2>;
			gpio-controller;
		};
	};
};

&i2c3 { /* I2C: I2C3 Bus */

	cst148@1a { /* Touch: Hynitron Touch panel (1080p display) */
		compatible = "hynitron,cst1xx";
		reg = <0x1a>; 
		vdd_ana-supply = <&reg_3p3v>;
		vcc_i2c-supply = <&reg_3p3v>;
		hynitron,panel-coords = <0 1080 0 1920>;
		hynitron,display-coords = <0 1080 0 1920>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ts_active>;
		hynitron,irq-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
		hynitron,rst-gpio = <&gpio1 1 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	ov5640: ov5640_mipi@3c { /* MIPI CSI: OV5640 Camera */
		compatible = "ovti,ov5640";
		reg = <0x3c>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi_rst>;
		clocks = <&clk IMX8MN_CLK_CLKO1>;
		clock-names = "xclk";
		assigned-clocks = <&clk IMX8MN_CLK_CLKO1>;
		assigned-clock-parents = <&clk IMX8MN_CLK_24M>;
		assigned-clock-rates = <24000000>;
		csi_id = <0>;
		reset-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
		mclk = <24000000>;
		mclk_source = <0>;
		mipi_csi;
		status = "okay";
		port {
			ov5640_ep: endpoint {
				remote-endpoint = <&mipi1_sensor_ep>;
				data-lanes = <1 2>;
				clocks-lanes = <0>;
			};
		};
	};
};

&lcdif {
	status = "okay";
};

&isi_0 { /* Multimedia: Image Sensing Interface */
	status = "okay";
	cap_device {
		status = "okay";
	};
};

&mipi_csi_1 { /* MIPI CSI: OV5640 MIPI Camera */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	port@0 {
		reg = <0>;
		mipi1_sensor_ep: endpoint {
			remote-endpoint = <&ov5640_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&mipi_dsi { /* MIPI DSI: 1080p MIPI Display */
	status = "okay";

	panel@0 {
		compatible = "raydium,rm67198";
		reg = <0>;
		dsi-lanes = <4>;
		video-mode = <1>;/* 0: burst mode
				  * 1: non-burst mode with sync event
				  * 2: non-burst mode with sync pulse
				  */
		panel-width-mm = <68>;
		panel-height-mm = <122>;
		status = "okay";
	};
};

&iomuxc {

	imx8mn-iwg37m {

		pinctrl-names = "default";
	        pinctrl-0 = <&pinctrl_expansion>;

		pinctrl_ts_active: tsgrp { /* MIPI DSI: Touch: IOMUX Pin Configuration */
			fsl,pins = <
				MX8MN_IOMUXC_GPIO1_IO01_GPIO1_IO1		0x41 /* Touch Interface Reset GPIO */
				MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x41  /* Touch Interface Interrupt GPIO */
			>;
		};

		pinctrl_stmpe: stmpeirq { /* STMPE: IOMUX Pin Configuration */
                        fsl,pins = <
				MX8MN_IOMUXC_GPIO1_IO07_GPIO1_IO7		0x41 /*STMPE Interrupt GPIO*/
                        >;
                };

		pinctrl_sai5: sai5grp { /* SAI5: IOMUX Pin Configuration */
			fsl,pins = <
				MX8MN_IOMUXC_SAI5_MCLK_SAI5_MCLK		0xd6
				MX8MN_IOMUXC_SAI5_RXD2_SAI5_TX_BCLK		0xd6
				MX8MN_IOMUXC_SAI5_RXD1_SAI5_TX_SYNC		0xd6
				MX8MN_IOMUXC_SAI5_RXD3_SAI5_TX_DATA0		0xd6
				MX8MN_IOMUXC_SAI5_RXD0_SAI5_RX_DATA0    	0xd6
			>;
		};

		pinctrl_csi_rst: csi_rst_grp { /* MIPI CSI: OV5640 Camera IOMUX Pin Configuration */
			fsl,pins = <
				MX8MN_IOMUXC_GPIO1_IO05_GPIO1_IO5		0x19 /* MIPI OV5640 Camera Reset GPIO */
			>;
		};

		pinctrl_expansion: expansion_pinsgrp { /* Expansion connector IOMUX configuration */
                        fsl,pins = <
				MX8MN_IOMUXC_GPIO1_IO06_GPIO1_IO6		0x41 /* SODIMM Edge Pin 71, Expansion J12 Pin 16 */
				MX8MN_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x41 /* SODIMM Edge Pin 92, Expansion J16 Pin 11 */
				MX8MN_IOMUXC_SAI5_RXC_GPIO3_IO20		0x41 /* SODIMM Edge Pin 91, Expansion J16 Pin 10 */
				MX8MN_IOMUXC_SPDIF_RX_GPIO5_IO4			0x41 /* SODIMM Edge Pin 177, Expansion J12 Pin 7 */
                        >;
                };

		pinctrl_unused_gpio: unused_pinsgrp { /* Unused GPIO pins IOMUX Configuration */
			fsl,pins = <
                                /* GPIO: GPIO IOMUX Pin coming under SOM */
                                MX8MN_IOMUXC_GPIO1_IO00_GPIO1_IO0               0x41
				MX8MN_IOMUXC_GPIO1_IO03_GPIO1_IO3		0x41
				/* GPIO: PCIe IOMUX Pin Configuration */
                                MX8MN_IOMUXC_GPIO1_IO10_GPIO1_IO10              0x41 /* SODIMM Edge Pin 134, Expansion J20 Pin 1 */ 
                                MX8MN_IOMUXC_GPIO1_IO11_GPIO1_IO11              0x41 /* SODIMM Edge Pin 133, Expansion J20 Pin 20 */
				/* GPIO: USB2 IOMUX Pin Configuration */
                                MX8MN_IOMUXC_GPIO1_IO14_GPIO1_IO14              0x41 /* SODIMM Edge Pin 140, Expansion U19 Pin 1 */
                                MX8MN_IOMUXC_GPIO1_IO15_GPIO1_IO15              0x41 /* SODIMM Edge Pin 39, Expansion U19 Pin 2 */
				MX8MN_IOMUXC_SD1_STROBE_GPIO2_IO11              0x41	
				/* GPIO: SPDIF IOMUX Pin Configuration */
				MX8MN_IOMUXC_SPDIF_TX_GPIO5_IO3			0x41 /* SODIMM Edge Pin 178, Expansion U21 Pin 1 */
				MX8MN_IOMUXC_SPDIF_EXT_CLK_GPIO5_IO5		0x41 /* SODIMM Edge Pin 176, Expansion U21 Pin 4 */
			>;
		};
	};
};

&SODIMM_unused_gpio_pins { /* GPIO: iWave Unused GPIO pins */
                gpios = <&gpio1 0 0>,
			<&gpio1 3 0>,
                        <&gpio1 10 0>,
                        <&gpio1 11 0>,
                        <&gpio1 14 0>,
                        <&gpio1 15 0>,
                        <&gpio2 11 0>,
                        <&gpio5 3 0>,
                        <&gpio5 5 0>;
};
